<div id="page">
	<div class="jumbotron">
  <h3 class="display-4">Collaborative Docs</h3>
  <p class="lead">This is a live demo for my personal project.<strong></strong> </p>
  <p class="lead">The project provides users an collaborative online editor, and allows users to teamwork, chat, and store their documents online.</p>
  <hr class="my-4">

<div class="card">
  <div class="card-block">
    <h5 class="card-subtitle">Frontend</h5>
    <p class="card-text">Javascript Framework: AngularJS4, SocketIO, and QuillJS.<br>CSS Framework: Bootstrap4</p>
    <h5 class="card-subtitle">Backend</h5>
    <p class="card-text">NodeJS, MongoDB, Docker, and built on AWS EC2<br>Framework: ExpressJS, SocketIO</p>

    <a href="https://www.linkedin.com/in/yenhsuan-terry-chen-477a99134" class="btn card-link btn-primary float-right btn-sm"><i class="fa fa-linkedin" aria-hidden="true"></i> My LinkedIn</a>
    <a href="https://github.com/yenhsuan/Docs-Collaboration" class="btn card-link btn-secondary float-right btn-sm git"><i class="fa fa-github" aria-hidden="true"></i> My Github</a>
  </div>
</div>
	<p class="card-text float-right text-muted">Project built by Yenhsuan Chen(Terry)</p>
</div>
</div>