.sideChat {
  width:300px;
}

.card-block { 
  padding: 0px;
}

.list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.card-header { 
  
  color: white !important; 
  padding: 2px;
  text-align: center;
  font-size: 14px;
}

input {
  font-size: 12px !important;
}

.input-group-addon {
  font-size: 12px !important;
}

.t {
  height: 250px !important;
  background-color: #FcFcFc; 
  overflow-y: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}


.chat-panel {
  font-size: 12px;

}

.msgText {
  position: relative;
  margin-left: 30px;
  margin-right: 10px;
  word-wrap: break-word;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;    
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 250px;

}


.msgText:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;

}


.msgText-me {
  position: relative;
  margin-left: 10px;
  margin-right: 35px;
  word-wrap: break-word;
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;    
  background: #0084ff;
  color: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  float: right;
}


.msgText-me:after {
  content: '';
  position: absolute;
  right: 0;
  top: 40%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: #0084ff;
  border-right: 0;
  border-bottom: 0;
  margin-top: -4px;
  margin-right: -8px;
}

#chat {
  position: fixed;
  bottom: 10px;
  right: 5px;
  width:300px;
}

#userlist {
  position: fixed;
  top: 70px;
  right: 5px;
  width:300px;
  height:300px;
  overflow-y: auto;
  flex-grow:1;
}

.userAvatar {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#session-id {
  overflow-x: auto;
}

