<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Collaborative Docs</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/start']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="auth.authenticated()">
      <li class="nav-link" >{{getUsername()}}({{getUsermail()}}) </li>
    </ul>
      <button class="btn btn-blue" *ngIf="!auth.authenticated()" (click)="login()">Sign in</button>
      <button class="btn btn-info" *ngIf="auth.authenticated()" (click)="logout()">Logout</button>
  </div>
</nav>